*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    height: 100%;
}



/*-----------------GENERAL-----------------*/


.webpage-view{
    display: flex;
    align-items: start;
    justify-content: start; 
    
}
.aside-nav{
    border: 1px solid;
    width: 10vw;
    height: 100vh;
    background-color: rgba(173, 216, 230, 0.486);
}
.main-center-page{
    border: 1px solid;
    max-width: 90vh;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(255, 182, 193, 0.466);
}
.main-nav{
    background-color: lightgoldenrodyellow;
    z-index: 100;
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    
}




















