@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Rubik', sans-serif;
    /* background-color: rgba(160, 255, 134, 0.74); */
    /* outline: 1px solid; */
    list-style: none;
    text-decoration: none;

}
a {
    color: black;
}

/*-----------------------------------HEADER AND NAVIGATION-------------------------------*/
.header-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 15px 10px;
    gap: 15px;
}
.right-cont button,
.left-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    gap: 5px;
    cursor: pointer;
}
.left-cont img {
    width: 60px;
}

.left-cont p {
    font-size: 25px;
    font-weight: 600;
}
.right-cont button {
    background-color: lightsalmon;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.right-cont p {
    font-size: 15px;
    font-weight: 500;
}

.right-cont img {
    width: 30px;
}

.nav-links-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 65vw;
    width: 100%;
    gap: 30px;
    padding: 12px;
}
.nav-links,
.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 15px;
    
}
.nav-links li a{
    font-size: 18px;
    font-weight: 400;
}
/*-------------------DROPDOWN------------*/

.dropdown{
    position: relative;
}
.dropdown-content {
    position: absolute;
    display: none;
}
.dropdown-content li {
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid;
    cursor: pointer;
    transition: all .15s;

}
.dropdown-content li:hover {
    background-color: rgba(200, 200, 200, 0.562);
}
.dropdown-content li:last-child{
    border-bottom: none;
}
.dropdown:hover .dropdown-content{
    border: 1px solid rgb(17, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: 10px; */
    justify-content: start;
    background-color: azure;
    height: auto;
    width: 200px;

}




/*-----------------------------------MAIN CONTENT-------------------------------*/

.main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    padding: 50px;
    /* height: 20vh; */
}

.h-item-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 20px;

}
.h-item-one h1{
    margin-bottom: 20px;
}
.link-box{
    display: flex;
    flex-direction: column;
    gap: 20px;

}





/*
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box1 h1{
    margin-bottom: 20px;
}
.link-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */